{% extends "base.twig" %}
{% block link %}
	<link rel="stylesheet" href="css/projects_style.css">
{% endblock %}

{% block main %}
	<div class="carousel-body">
		<div class="carousel">
			<div class="carousel__scene" {% if projectCount >= 1 and projectCount <= 15 %} style = "top: -22vh" {% elseif projectCount > 15 and projectCount < 20 %} style = "top: -10vh" {% else %} style = "top: -8vh"{% endif %}>
				<div class="carousel__list">
                <p>{{projects.project}}</p>
					{% for project in projects %}
						<div class="carousel__cell">
							<div class="datas">
								<p><strong>Titre:</strong> {{project.title}}</p>
								<p onclick="window.location.href='{{project.url}}'"><strong>Lien:</strong> {{project.url}}</p>
								<p onclick="window.location.href='{{project.gitUrl}}'"><strong>Lien:</strong> {{project.gitUrl}}</p>
							</div>
							<div class="description">
								<p> <strong>Description:</strong> {{project.description}}</p>
							</div>
							<div class="tech">
								{% for tech in [project.techOne, project.techTwo, project.techThree, project.techFour] %}
									{% if tech == 'html' %}
										<i class="fa-solid fa-code fa-xl" style="color: #ff5005;"></i>
									{% elseif tech == 'css' %}
										<i class="fa-solid fa-hashtag fa-xl" style="color: #2969ff;"></i>
									{% elseif tech == 'js' %}
										<i class="fa-brands fa-js fa-xl" style="color: #ffe229;"></i>
									{% elseif tech == 'php' %}
										<i class="fa-brands fa-php fa-xl" style="color: #8b2acb;"></i>
									{% else %}
										<p>{{ tech }}</p>
									{% endif %}
								{% endfor %}
								{# <p>{{project.techOne}}</p>
																																																																<p>{{project.techTwo}}</p>
																																																																<p>{{project.techThree}}</p>
																																																																<p>{{project.techFour}}</p> #}
							</div>
							<img src="/uploads/{{project.image}}">
						</div>
						<div>
							<p>{{project.tech}}</p>
						</div>
					{% endfor %}
				</div>
			</div>
			{# <div class="carousel__controls">
																												<button class="previous-button">&#x1F446;&#x1F3FB;</button>
																												<button class="next-button">&#x1F447;&#x1F3FB;</button>
																											</div> #}
		</div>
	</div>
{% endblock %}
{% block scriptJs %}
	<script src="/js/projects.js"></script>
{% endblock %}
